.but {
    margin: 20px;
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px blue solid;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    display: flex;
}

.but:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label{
    font-size: 25px;
}
.content {
    padding: 20px;
    width: 30%;
    font-size: 20px;
    color: black;
    border: 2px solid grey;
    visibility: hidden;
}

#Show {
    display: none;
  }

#Show:checked ~ .content {
    visibility: visible;
  }
